<div class="relative bg-[#FF6154] hover:opacity-80 transition-opacity">
  <div class="mx-auto flex flex-col sm:flex-row max-w-7xl items-center justify-between px-6 py-1">
    <span class="text-lg font-semibold text-gray-950 mb-2 sm:mb-0"
      >We're launching on Product Hunt!</span
    >
    <a
      href="https://www.producthunt.com/posts/choose-tech?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-choose-tech"
      target="_blank"
      ><img
        src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=424660&theme=dark"
        alt="Choose Tech - Choosing a tech should not be hard. | Product Hunt"
        style="width: 250px; height: 54px;"
        width="250"
        height="54"
      />
      <span class="absolute inset-0"></span>
    </a>
  </div>
</div>
