---
import Logo from "~/pages/_components/Logo.astro";
import SimpleIconsGithub from "~icons/simple-icons/github";
---

<!-- <div class="h-1.5 bg-primary-600"></div> -->
<header class="">
  <div
    class="mx-auto flex max-w-7xl items-center justify-between space-x-2 px-6 py-2"
  >
    <Logo />
    <div class="flex items-center space-x-2">
      <a
        href="https://github.com/choose-tech/choose-tech"
        target="_blank"
        class="button button-gray"
      >
        <SimpleIconsGithub />
        <span>GitHub</span>
      </a>
    </div>
  </div>
</header>
