---
import Header from "./_components/Header.astro";
import HeroiconsHomeSolid from "~icons/heroicons/home-solid";
import Layout from "~/layouts/Layout.astro";

const title = "Page not found | Choose Tech";
const description =
  "Web development is truly amazing; there are a billion ways to achieve the same thing. It's both its strength and weakness... until now?";
---

<Layout {title} {description} bodyClass="h-full bg-gray-950">
  <Header />
  <main class="flex flex-1 items-center justify-center bg-gray-950">
    <div>
      <p
        class="mb-2 text-3xl font-bold text-primary-600 sm:text-center sm:text-5xl"
      >
        404
      </p>
      <h1 class="text-4xl font-bold text-gray-200 sm:text-center sm:text-6xl">
        Page not found
      </h1>
      <p
        class="mt-6 max-w-2xl font-medium tracking-wide text-gray-400 sm:text-center"
      >
        We couldn't find the page you requested
      </p>
      <div
        class="mt-8 flex w-full flex-col max-sm:space-y-4 sm:flex-row sm:items-center sm:justify-center sm:space-x-4"
      >
        <a href="/" class="button button-primary">
          <HeroiconsHomeSolid />
          <span>Home</span>
        </a>
      </div>
    </div>
  </main>
</Layout>
