---
import Community from "./_components/Community.astro";
import Header from "./_components/Header.astro";
import Hero from "./_components/Hero.astro";
import Comparisons from "~/pages/_components/Comparisons.astro";
import Footer from "~/pages/_components/Footer.astro";
import Layout from "~/layouts/Layout.astro";
import Banner from "~/pages/_components/Banner.astro";

const title = "Choose Tech | Choosing a tech should not be hard";
const description =
  "Web development is truly amazing; there are a billion ways to achieve the same thing. It's both its strength and weakness... until now?";
---

<Layout {title} {description} bodyClass="min-h-full bg-gray-900">
  <Banner />
  <Header />
  <main class="flex-1 bg-gray-950">
    <Hero />
    <Community />
    <Comparisons />
  </main>
  <Footer />
</Layout>
